
div.global-header {
	border: 1px solid green;
}

div#wb-bnr {
	border: 1px solid green;
}

section#wb-lng {
	border: 1px solid blue;
}

main {
	border: 1px solid red;
}

section#wb-auto-2 {
	border: 1px solid orange;
}


/* crumb trail */

	.mobile-breadcrumb {
		background: #f3f3f3;
	}
	/*
	.hide-breadcrumb-parents-mobile {
		visibility: hidden;
	}*/
	@media screen and (max-width: 737px) {
		#wb-bc li:before {
		color: #333;
		content: "<"!important;
		font-family: "Glyphicons Halflings";
		font-size: 1.5em;
		}
	}
	@media screen and (min-width: 737px) {
		.no-break-breadcrumb {
		display: inline-block!important;
		}
	}

/* TOC links panel - desktop */

	@media screen and (min-width 1200px) {
		#desktop-left-toc.sticky {
			/*width: 350px;*/
		}
	}

	#desktop-left-toc {
		position: sticky;
		width: 345px;
		height: auto;
		overflow-y: auto;
	}

	/*
	#desktop-left-toc.sticky {
		position: fixed;
		top: 0px;
		width: 345px;
		bottom: 0px;
		overflow-y: scroll;
	}
	#desktop-left-toc.overfooter {
		position: absolute!important;
		bottom: 0px!important;
		top: auto!important;
	}
	 */

/* everything else */

	.overlay-def.wb-bar-t header {
	  background-color:white!important;
	}
	.overlay-def .modal-header {
		background: #ffffff!important;
	}

	.longdoc-toc-link {
	  font-size: 16px; text-decoration:none;
	}

	.longdoc-toc-sub-p {
	  padding-left: 5px;
	  margin-left: 10px;
	  margin-bottom: 0px;
	}

	.longdoc-toc-sub-link {
	  font-size: 16px;
	  text-decoration:none;
	}

	.search-result-link {
	  text-decoration: none;
	  font-size:15px!important;
	}

	.search-result-div {
	  margin-top: 10px;
	  padding: 5px 5px 0px 5px;
	  border: 1px #ccc8c8 solid;
	  box-shadow: 4px 6px #f5f5f5;
	}

	.no-results-div {
	  margin-top:15px;
	  clear:both;
	}

	.no-results-p {
	  font-size:18px;
	}

	.search-results-header-div {
	  margin-top:15px; clear:both;
	}

	.search-results-header-p {
	  font-size:18px;
	}
