.flex-parent {
  display: flex;
  align-items: center;
  padding: 5px;
}

.long-and-truncated {
  flex: 1;
  min-width: 0;
  position:relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.short-and-fixed {
  white-space: nowrap;
  display: inline-block;
}

.wb-overlay.open {
  display: block!important;
  position: fixed;
  max-width: 500px;
}
