.flex-parent {
  display: flex;
  align-items: center;
  padding: 5px;
}


.long-and-truncated {
  flex: 1;
  min-width: 0;
  /* or some value */
}
.long-and-truncated h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.short-and-fixed {
  white-space: nowrap;
}
.short-and-fixed > div {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background: lightgreen;
  display: inline-block;
}
